# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
ModVersions/1-20-1 - Walkers/logs
ModVersions/1-20-1 - Walkers/run
ModVersions/1-20-1 - Walkers/run-data
ModVersions/1-20-1 - Walkers/bin
ModVersions/1-20-1 - Walkers/build